[submodule "Drivers/tivaware"]
	path = Drivers/tivaware
	url = https://github.com/antoinealb/Tivaware.git
[submodule "Modules/embfmt"]
	path = Modules/embfmt
	url = https://gitea.epagris.com/epagris/embfmt
[submodule "Modules/flexptp"]
	path = Modules/flexptp
	url = https://github.com/epagris/flexPTP.git
[submodule "Modules/lwip"]
	path = Modules/lwip
	url = https://github.com/lwip-tcpip/lwip.git
